<div *ngIf="(products$ | async); else: loading; let products">
  <h3 class="content is-medium">Products</h3>
  <div *ngFor="let product of products">
    <section class="content">
      <chips-product-detail
        [product]="product"
        (addToProductClicked)="addProductToCart($event)"
      ></chips-product-detail>
    </section>
  </div>
</div>

<ng-template #loading> Loading products... </ng-template>
