<h2 class="content is-medium">Shopping Cart</h2>
<table
  class="table is-hoverable"
  *ngIf="(cart$ | async); else: loadingCart; let cart"
>
  <tr>
    <th>Item No.</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Is this a gift?</th>
  </tr>
  <tr *ngFor="let item of cart.items; let i = index">
    <td>{{ i }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.isGift ? 'Yes!' : 'No' }}</td>
  </tr>
</table>

<ng-template #loadingCart> Loading cart... </ng-template>
