<h4 class="is-medium">{{ product.name }}</h4>
<div>
  <p><strong>Price:</strong> {{ product.price }}</p>
  <button class="button is-primary" (click)="addProductToCart()">
    Add to Cart
  </button>
</div>
