<section class="hero is-normal is-bold is-primary">
  <!-- hero head and navbar -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">{{ title }}</a>
          <span class="navbar-burger burger" data-target="navbarHeroMenu">
            <span></span> <span></span>
          </span>
        </div>
        <div id="navbarHeroMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" [routerLink]="['/products']">Products</a>
            <span class="navbar-item">
              <a class="button is-primary is-inverted" [routerLink]="['/cart']">
                <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                <span>Cart</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- hero body -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Welcome to {{ title }}</h1>
      <h2 class="substitle">An online shop for getting cookies!</h2>
    </div>
  </div>
</section>

<div class="container"><router-outlet></router-outlet></div>
